[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"

[packages]
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.7"
